[submodule "themes/Tranquilpeak"]
	path = themes/Tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/ParsaHugo"]
	path = themes/ParsaHugo
	url = https://github.com/themefisher/parsa-hugo.git
[submodule "themes/hugo-swift-theme"]
	path = themes/hugo-swift-theme
	url = https://github.com/onweru/hugo-swift-theme.git
